<!DOCTYPE html>
<html>
<head>
    <title>{{"Library App" }}</title>
</head>
<body>
    <h1>{{"Library App" }}</h1>
    <p>
        <a href="{{ url_for('main.view_fiction_books') }}">Fiction Books</a> |
        <a href="{{ url_for('main.high_salary_employees') }}">High Salary Employees</a> |
        <a href="{{ url_for('main.popular_categories') }}">Popular Categories</a> |
        <a href="{{ url_for('main.sum_of_books') }}">Sum of Books Issued</a> |
        <a href="{{ url_for('main.pricing') }}">Book Pricing</a>
    </p>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>